/* NAV START */

#logo {
	font-family: Georgia, Times, "Times New Roman", serif;
	/* Typography */
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	/* Visual */
	background: #4aaaa5;
	padding-left: 5px;
	padding-right: 5px;
}

#logo:hover {
	color: blue;
	background-color: #fff;
}

.navbar {
	background: white;
	border: none;
}

/* Changes the cursor to a pointer when hovering over list items on navbar */
li:hover {
	cursor: pointer;
}

/* media query for nav background color change */

@media only screen and (max-width: 767px) {
	.navbar-header {
		background-color: #4aaaa5;
	}
}
/* END NAV */